site_name: Cyberflix - Documentation
site_description: The official documentation for the Cyberflix Media Center.
site_author: BobDaGecko
site_url: https://docs.cyberflix.io/

repo_url: https://github.com/BobDaGecko/Cyberflix-Docs
repo_name: BobDaGecko/Cyberflix-Docs

theme:
  name: material
  palette:
    scheme: slate
  favicon: img/favicon.png
  logo: img/logo.png
  features:
    - navigation.instant
    - navigation.tabs
    - navigation.expand

copyright: Copyright &copy; 2021 Cyberflix Media. All rights reserved.

nav:
    - Home: index.md
    - FAQ: faq.md
    - Jellyfin: jellyfin/temp.md
    - Ombi: ombi/temp.md
    - Organizr: organizr/temp.md
    - Discord: discord/temp.md
    - About:
        - Terms and Conditions: about/terms-and-conditions.md
        - Privacy Policy: about/privacy-policy.md
        - Activity Agreement: about/activity-agreement.md
        - License: about/license.md

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - javascripts/extra.js

markdown_extensions:
  - admonition
  - attr_list
  - pymdownx.details
  - pymdownx.keys
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed
  - pymdownx.highlight
  - toc:
      permalink: true
      toc_depth: 5
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
